{# app/Resources/views/survey/form.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Questionnaire{% endblock %}

{% block content %}
{{form_errors(form)}}
    {{form_start(form)}}
		{{ form_widget(form._token) }}
		{% for question in form.questions %}
			<h3>{{ question.Qwording.vars.value }}</h3>
			{% for answer in question.answers %}
				<input type="checkbox" id="{{ answer.checked.vars.id }}" name="{{ answer.checked.vars.full_name }}" value="{{ answer.checked.vars.value }}">
				<label for="{{ answer.checked.vars.full_name }}">{{ answer.wording.vars.value }}</label>
			{% endfor %}
		{% endfor %}

		<input type="submit" value="Envoyer" />
    </form>
{% endblock %}