{# app/Resources/views/survey/form.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Liste de sondages{% endblock %}

{% block content %}

<div id="listsondage" class="formCreation">
    <h2 class="titreForm">Liste des sondages </h2>
	<ul id="survey-list">
    {% for survey in surveys %}
		<li class="survey-item"><a href="{{ path('new-survey', {'slug': survey.slug}) }}">{{ survey.title }}</a></li>
		<a class="editSurveyLink" href="{{path('edit-survey',{'slug': survey.slug}) }}"> Modifier </a>
		<a class="deleteSurveyLink" href="{{ path('delete-survey',{'slug': survey.slug}) }}" onclick="return confirm('Etes-vous sûr de vouloir supprimer ce sondage ?')">Supprimer</a>
		{% else %}
		<h1> Pas de sondages </h1>

    {% endfor %}
    <br>	<a class="addSurveyLink" href="{{path('add-survey') }}"> Créer un nouveau sondage </a>
	</ul>
	</div>
{% endblock %}